<body>
    <div class="container">
        <div class="header-img"></div>
        <nav class="navbar">
            <div class="logo">
                <img src="../../../assets/images/logo.png">
                <a>Go Shoppe</a>
            </div>
        </nav>
    </div>
    <section class="content-section">
        <div class="text-container">
            <h1>Sistema De Ventas</h1>
            <p>Solución de ventas especializada para tiendas de barrio y pequeñas empresas.</p>
            <button type="button" class="btn" (click)="goToLogin()">
                Comenzar
                &nbsp;
                <i class="fa-solid fa-right-to-bracket"></i>
            </button>
        </div>
    </section>
</body>